stages:
    - build
    - test
    
build:
    stage: build
    script:
        - echo "Building"
        - mkdir build
        - touch build/info.txt
        
test:
    stage: test
    script:
        - echo "Testing"
        - test [ -f build/info.txt ] && echo "File exist" || echo "File does not exist"